SpeechRecognition~=3.10.4
pygame~=2.5.2
pyttsx3~=2.90
torch~=2.3.1
numpy~=1.26.4
PyAudio~=0.2.14
discord~=2.3.2
discord.py~=2.4.0
langchain-core~=0.3.49
typing_extensions~=4.13.0
ollama~=0.4.5
langgraph~=0.3.21
langchain~=0.3.14
pytz~=2024.1
duckduckgo_search~=7.2.1
scikit-learn~=1.5.0